<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello webpage</h1>
    <h3><%=date[0].power%></h3>
    <img src="https://thebetterindia-english.sgp1.digitaloceanspaces.com/uploads/2017/02/SOLAR_PANEL_214254_2465042f.jpg" alt="">
</body>
<script>
    let d = <%= date[0]._id %>
    console.log(d);
</script>
</html>